[Unit]
Description=Check for new games hourly
Wants=discord-free-game.timer

[Service]
Type=oneshot

# Change lovinator to your user
User=lovinator
Group=lovinator
WorkingDirectory=/home/lovinator/discord-free-game-notifier
ExecStart=poetry run bot

[Install]
WantedBy=multi-user.target