name: Ruff
on:
    push:
      paths:
        - '**.py'
        - '.github/workflows/ruff.yml'
    pull_request:
    schedule:
      - cron: '0 0 * * *' # Run every day
    workflow_dispatch:

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: chartboost/ruff-action@v1
